.skeleton {
  background-color: var(--color-surface);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.05) 20%,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
}

.skeleton.text {
  height: 1em;
  width: 100%;
  margin-bottom: 0.5em;
}

.skeleton.rect {
  width: 100%;
  height: 100%;
}

.skeleton.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
